{% extends "base.html" %}
{% block title %}
Movies DVD releases
{% endblock %}
{% block content %}
<h4>Movies dvd releases</h4>

<div class="row">
  
  <div class="col-md-3">
    <div class="text-center">
    <a href="/m/kingsman_the_secret_service/" class="popoverTrigger">
        <img src="http://resizing.flixster.com/JioZvKjI2nmMxMn00QVpoY4qbd8=/180x267/dkpu1ddg7pbsk.cloudfront.net/movie/11/18/95/11189501_ori.jpg" alt="Kingsman: The Secret Service" class="img-responsive">
        <span class="playButton fontelloIcon icon-play light-translucent white"></span>
    </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="poster_container">
    <a href="/m/kingsman_the_secret_service/" class="popoverTrigger">
        <img src="http://resizing.flixster.com/JioZvKjI2nmMxMn00QVpoY4qbd8=/180x267/dkpu1ddg7pbsk.cloudfront.net/movie/11/18/95/11189501_ori.jpg" alt="Kingsman: The Secret Service" class="img-responsive">
        <span class="playButton fontelloIcon icon-play light-translucent white"></span>
    </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="poster_container">
    <a href="/m/kingsman_the_secret_service/" class="popoverTrigger">
        <img src="http://resizing.flixster.com/JioZvKjI2nmMxMn00QVpoY4qbd8=/180x267/dkpu1ddg7pbsk.cloudfront.net/movie/11/18/95/11189501_ori.jpg" alt="Kingsman: The Secret Service" class="img-responsive">
        <span class="playButton fontelloIcon icon-play light-translucent white"></span>
    </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="poster_container">
    <a href="/m/kingsman_the_secret_service/" class="popoverTrigger">
        <img src="http://resizing.flixster.com/JioZvKjI2nmMxMn00QVpoY4qbd8=/180x267/dkpu1ddg7pbsk.cloudfront.net/movie/11/18/95/11189501_ori.jpg" alt="Kingsman: The Secret Service" class="img-responsive">
        <span class="playButton fontelloIcon icon-play light-translucent white"></span>
    </a>
    </div>
  </div>
</div>

{% endblock %}


